<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="Source" value="http://localhost/index.html" />-->
    <add key="Source" value="http://tms.yunlaila.com.cn/tms/pc/login/login.html" />
    <!--<add key="VersionCheckService" value="http://localhost:8088/api/values/"/>-->
    <add key="VersionCheckService" value="/tms/common/get_sysparam_by_code.do?param_code=" />
    <!--<add key="Source" value="http://demo.tms.yunlaila.com.cn/tms/pc/login/login.html"/>-->
    <add key="PrinterConnection" value="" />
    <add key="StickPrinter" value="0" />
    <add key="ReceiptPrinter" value="0" />
    <!--<add key="ReceiptPrinter" value="A83I(标签)"/>-->
    <add key="Version" value="4" />
    <add key="ConfigFileAddress" value="http://tms.yunlaila.com.cn/tms/pc/get_version.do" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>